.container {
  width: 371px;
  height: 40px;
  display: block;
  margin: 0 auto;
}

.form {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.input-field {
  width: 272px;
  height: 100%;
  border: 1px solid #808080;
  padding: 0;
}

.input-field::placeholder {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #808080;
}

.input-field:hover {
  border-color: #000000;
}

.btn-search {
  border-radius: 8px;
  border: 1px solid #ffffff;
  padding: 8px 16px;
  width: 91px;
  height: 100%;
  background: #4e75ff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  padding: 0;
}

.btn-search:hover {
  background: #6c8cff;
}

/*  */

.gallery {
  margin: 32px 156px;
  padding: 0;
  width: 1128px;
  height: 648px;
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 24px;
  justify-content: flex-start;
  align-items: start;
}

.gallery-link {
}

.gallery-item {
  list-style-type: none;
  width: calc((100% - 2 * 24px) / 3);
  height: 200px;
  cursor: pointer;
  position: relative;
}

.gallery-image {
  width: 100%;
  height: 100%;
}

.gallery-list-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  gap: 24px;
  height: 48px;
  width: 358px;
  border: 1px solid #808080;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #fff;
}

.field {
  white-space: normal;
  overflow-wrap: break-word;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  width: calc((100% - 3 * 24px) / 4);
  height: 100%;
  text-align: center;
}

.name-field {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33333;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.value {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

/*  */

.loader {
  font-size: 24px;
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #ff3d00;
  letter-spacing: 2px;
  position: relative;
}

.loader::after {
  content: 'Loading';
  position: absolute;
  left: 0;
  top: 0;
  color: #141313;
  width: 100%;
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;
  animation: animloader 10s ease-in infinite;
}

@keyframes animloader {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

.hidden {
  display: none;
}
